body {
  font-size: 16px;
  line-height: 24px;
  color: black;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  width: 1600px;
  margin: 0 auto;
}
h2 {
  font-size: 45px;
  line-height: 45px;
  color: #000;
  font-weight: 500;
  font-family: PTSans, Arial, sans-serif;
}
h3 {
  font-size: 18px;
  line-height: 30px;
  color: #000;
  font-weight: 500;
  font-family: PTSans, Arial, sans-serif;
}

.question, 
button, 
.nextButton,
.number {
  border: 5px solid black;
  color: white;
  background-color: black;
  border-radius: 15px;
  padding: 10px;
}

.question {
  display: block;
  width: 800px;
  min-height: 80px;
  font-size: 24px;
  text-align: center;
  /* vertical-align: middle; */
  margin: 0 auto;
  margin-top: 120px;
  padding: 10px;
}

.answers {
  display: block;
  margin-top: 80px;
  text-align: center;


/*   margin: 120px 420px; */
/*   padding: 50px 50px; */
}

button {
  font-size: 24px;
  text-align: center;
  padding: 10px;
}

.nextButton {
  font-size: 24px;
  text-align: center;
  padding: 10px;
  margin-top: 80px;
  margin-left: 1100px;
}